body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}



.other {
    background-image: url('img/back.jpg'); /* Путь к вашему изображению */
    background-size:  1000px 800px fixed; /* Фон будет статичным */
    background-position: center; /* Центрирует фон */
    background-repeat: no-repeat; /* Избегает повторения изображения */
}

header {
    background-color: #4f5fed;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #4f5fed;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

.home, .contacts {
    text-align: center;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item {
   
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.item img {
    max-width: 100%;
    border-radius: 10px;
}
.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.category {
    text-align: center;
    text-decoration: none;
}
.item img {
    width: 250px; 
    height: auto; 
    border-radius: 10px;
    border: 2px solid #000000;
    transition: transform 0.3s;
}
.item:hover img {
    transform: scale(1.05);
}

.item p {
    margin-top: 10px;
    font-weight: bold;
    color: #000000; 
    text-decoration: none;
}
.catalog1 {
    display: flex;
    width: 100%;
}
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
}
.sidebar h2 {
    margin-top: 0;
}
.sidebar ul {
    list-style-type: none;
    padding-left: 0;
    
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    
    color: #000000;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    
}
.product-item {
    width: calc(25% - 20px); /* Четыре товара в строку с отступами */
    height: auto;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    width: 290px;
}
.product-item img {
    max-width: 100%;
    height: auto;
}
.container1 {
    min-height: calc(100vh - 60px); /* Учитываем высоту футера */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-container img {
    max-width: 500px; /* Увеличение размера изображения */
    height: auto;
    justify-content: center;
    margin-bottom: 20px; 
    margin-top: 20px;/* Отступ снизу */
    border-radius: 12px; /* Закругление углов */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Увеличение тени */
}

.contacts {
    background: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для текста */
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для блока */
}
